  <link rel="alternate" type="text/html" title="Traditional Chinese translation" hreflang="zh" href="http://dia.z6i.org/" />
  <link rel="alternate" type="text/html" title="Simplified Chinese translation" hreflang="zh" href="http://dia.z6i.org/cn/" />
  <link rel="alternate" type="text/html" title="French translation" hreflang="fr" href="http://www.la-grange.net/accessibilite/" />
  <link rel="alternate" type="text/html" title="Italian translation" hreflang="it" href="http://www.francocarcillo.it/dive/" />
  <link rel="alternate" type="text/html" title="Polish translation" hreflang="pl" href="http://mimas.ceti.pl/dia/" />
