---
title: Mobile theme layout
---
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include '../en/dc-metadata.njk' %}
{% include '../head/stylesheets.njk' %}

{% include '../head/translation-links.njk' %}

  <title>{{ title }} - Dive Into Accessibility </title>

</head>
<body>
{% include '../en/header.njk' %}

<page-note></page-note>

<main id="main">
{{ content | safe }}
</main>

{% include '../en/pagination.njk' %}

<footer>
  <p>Copyright © 2002 Mark Pilgrim</p>
</footer>

{% include '../javascript.njk' %}

</body>
