---
title: Mobile theme layout
layout: dia_outer_page
---
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <base href="{% myBaseUrl %}">

  <link rel="stylesheet" href="./css/index.css">

{% include '../en/dc-metadata.njk' %}
{# {% include '../head/stylesheets.njk' %} #}

{% include '../en/navigation-links.njk' %}
{% include '../head/translation-links.njk' %}

  <title>{{ title }} - Dive Into Accessibility </title>

</head>
<body>
{% include '../en/breadcrumb.njk' %}
{% include '../en/header.njk' %}

<share-button></share-button>

<page-note hidden></page-note>

<main id="main">
{{ content | safe }}
</main>

{% include '../en/pagination.njk' %}

<footer>
  <p>Copyright © 2002 Mark Pilgrim</p>
</footer>

{% include '../javascript.njk' %}
</body>
