
<details class="dive-into-nav" name="nav">
  <summary id="diveLabel">Dive Into&hellip;</summary>
  <nav aria-labelledby="diveLabel">
    <ul>
      <li><a href="https://web.archive.org/web/20110927131211/http://diveintopython3.org/">Python 3</a>
      <li hidden><a href="http://diveintopython3.ep.io/">Python 3</a>
      <li><a href="https://mislav.github.io/diveintohtml5/">HTML5</a>
      <li hidden><a href="http://diveintohtml5.it/">HTML5</a>
      <li><a href="./en/" aria-current="page">Accessibility</a>
      <li hidden><a href="https://web.archive.org/web/20111004171420/http://diveintomark.org/">Mark</a>
      <li><a href="https://en.wikipedia.org/wiki/Mark_Pilgrim">Mark</a>
    </ul>
  </nav>
</details>
