
<ul>
  <li><a title="accessibility features of this site" href="accessibility_statement.html" accesskey="0">Accessibility statement</a></li>
  <li><a href="mt/mt-search.html" accesskey="4">Advanced search</a></li>
  <li><a href="table_of_contents.html" accesskey="3">Table of contents</a></li>
  <li><a href="by_person.html">Tips by person</a></li>
  <li><a href="by_disability.html">Tips by disability</a></li>
  <li><a href="by_design_principle.html">Tips by design principle</a></li>
  <li><a href="by_web_browser.html">Tips by web browser</a></li>
  <li><a href="by_publishing_tool.html">Tips by publishing tool</a></li>
  <li><a title="send email to the author" href="mailto:feedback@diveintoaccessibility.org" accesskey="9">Feedback</a></li>
  <li><a title="Copyright and licensing information" href="terms_of_use.html" accesskey="8">Terms of use</a></li>
  <li><a href="https://github.com/nfreear/diveintoaccessibility">(Source on GitHub)</a></li>
</ul>
