<search>
  <form action="./search.html">
    <p><label for="q">Search this site:</label></p>
    <p><input id="q" name="q" type="search" required></p>
    <p><button>Search</button></p>
  </form>
</search>
