
<details class="translation-nav" name="nav">
  <summary id="translateLabel">Translations</summary>
  <nav aria-labelledby="translateLabel">
    <ul>
      <li><a rel="alternate" lang="fr" hreflang="fr" href="https://www.la-grange.net/accessibilite/">Français</a>
      <li><a rel="alternate" lang="no" hreflang="no" href="https://kastdegutitilgjengelighet.no/">Norsk</a>
      <li><a rel="alternate" lang="pl" hreflang="pl" href="http://mimas.ceti.pl/dia/">Polski <i lang="en">(Polish)</i></a>
      <li><a rel="alternate" lang="zh-Hans" hreflang="zh-Hans" href="http://dia.z6i.org/cn/">繁体中文 <i lang="en">(Simplified Chinese)</i></a>
      <li><a rel="alternate" lang="zh-Hant" hreflang="zh-Hant" href="http://dia.z6i.org/">繁體中文 <i lang="en">(Traditional Chinese)</i></a>
    </ul>
  </nav>
</details>

{#
{% togglePopover 'Translations' %}
  <nav>
    <ul>
      <li><a href="#">Language A</a>
    </ul>
  </nav>
{% endtogglePopover %}
#}
