<nav id="crosssitenavigation" aria-label="Cross-site navigation">
  <p class="inner">Dive Into
    <a title="Dive Into Python, a free book for experienced programmers" href="http://diveintopython.org/">Python</a> |
    <a title="Dive Into Python 3, another free book for experienced programmers" href="http://diveintopython3.org/">Python 3</a> |
    <a title="Dive Into HTML 5, a free book for web developers" href="http://diveintohtml5.org/">HTML 5</a> |
Accessibility |
    <a title="dive into mark, the author's personal weblog" href="http://diveintomark.org/">Mark</a>
  </p>
</nav> <!--crosssitenavigation-->
