  <link rel="schema.DC" href="http://purl.org/dc" />
  <meta name="DC.Identifier" content="http://diveintoaccessibility.org/" />
  <meta name="DC.Title" content="Dive Into Accessibility" />
  <meta name="DC.Description" content="30 days to a more accessible weblog" />
  <meta name="DC.Creator" content="Mark Pilgrim" />
  <meta name="DC.Date" scheme="W3CDTF" content="2004-03-19" />
  <meta name="DC.Subject" content="accessibility; blind; colorblind; low vision; web design" />
  <meta name="DC.Publisher" content="Cornerhost.com" />
  <meta name="DC.Type" scheme="DCMIType" content="Text" />
  <meta name="DC.Format" content="text/html" />
  <meta name="DC.Language" scheme="RFC1766" content="en" />
  <meta name="DC.Rights" content="Copyright 2002 by Mark Pilgrim, All Rights Reserved" />
