<footer id="footer"><div class="inner">

<address>Copyright &copy; 2002 Mark Pilgrim</address>
<small class="repo">
  (<a href="https://github.com/nfreear/diveintoaccessibility">Source</a>)
</small>

</div></footer> <!--footer-->
