<header id="logo">
  <div class="inner">
  <h1 class="title">
    <a href="index.html" accesskey="1">Dive Into Accessibility</a>
  </h1>
  <p>30 days to a more accessible web site</p>
  <a class="skip" href="#startnavigation">Skip to navigation</a>
  <span class="divider">&nbsp;</span>
  </div>
</header>
