{% set previousPost = collections.myCustomSort | getPreviousCollectionItem %}
{% set nextPost = collections.myCustomSort | getNextCollectionItem %}

{% if previousPost or nextPost %}
<nav class="pageturn" aria-label="Pagination">
  <div class="inner">
  {% if previousPost %}
    <a href="{{ previousPost.url }}">&larr; {{ previousPost.data.title }}</a>
  {% endif %}
  <!-- <a href="introduction.html">&lt;&lt; Introduction</a> -->
  | <a href="table_of_contents.html">Contents</a>
  | <!-- <a href="day_2_michael.html">Day 2: Michael &gt;&gt;</a> -->
  {% if nextPost %}
    <a href="{{ nextPost.url }}">{{ nextPost.data.title }} &rarr;</a>
  {% endif %}
  </div>
</nav> <!--pageturn-->
{% endif %}
