
<script type="importmap">
{
  "imports": {
    "page-note": "/js/PageNoteElement.js"
  }
}
</script>

<script type="module">
  import PageNoteElement from 'page-note';

  customElements.define('page-note', PageNoteElement);
</script>
